@charset "utf-8";
/* CSS Document */

.cart{
	margin-right:-12p;
}
.me {
	margin-right: -12px;
	display: none;
}
.key {
	display: block;
	float: right;
	width: 220px;
	height: 20px;
	font-size: 12px;
	color: #B2B2B2;
	margin: 31px 8px 0 0;
}
.key a {
	color: #B2B2B2;
	
}


.memberNAV li,.memberNAV li a{
	float: right;
	color: #FF8B00;
	font-size: 12px;
	margin: 0 10px 0 0;
	
}
.bestBK {
	height: 183px;
	float: left;
	
}
.picDF {
	float: left;
	margin:6px 0 0 10px;
	
}
.btnDF {
	height: 16px;
	width: 80px;
	background-color: #F7931E;
	border-radius: 4px;
	margin-left: 1px;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	text-align: center;
}
.Btitle{
	display: block;
	height: 29px;
	color: #FF8C00;
	font-size: 16px;
	margin: 0 0 0;
}
.BBK{
	display: block;
	height: 85px;
	font-size: 14px;
	width:202px;
	margin:-20px 0 0 0;
}
.btnBUY{
	display: block;
	float: right;
	height: 25px;
	width: 120px;
	line-height: 25px;
	text-align: center;
	border-radius: 10px;
	border: #808080 solid 1px;
	margin-top: 20px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-8 */
}
.picDF2 {
	float: left;
	margin:-11px 10px 0 0;
	
}
.Ptitle{
	color: #FF8C00;
	font-size: 16px;
	margin: -7px 0 0 0;
}

.ATCtitle {
	background-image: url(../images/header_in_secodary.jpg);
	background-repeat: no-repeat;
	background-position: 5px 13px;
	display: block;
	height: 30px;
	width: 180px;
	border-bottom: #FF8C00 1px dotted;
	font-size: 18px;
	color: #FF8C00;
	padding: 0 0 8px 25px;
	margin: 10px 0 16px 0;
}
.article {
	display: block;
	height: 86px;
	width: 214px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
.article img {
	float: left;
	margin-right: 10px;
}
.article p {
	width: 124px;
	font-size: 14px;
	float: right;
	margin: -4px 0 0 0;
}
.ATCtitle2 {
	background-image: url(../images/header_in_secodary.jpg);
	background-repeat: no-repeat;
	background-position: 5px 13px;
	display: block;
	height: 30px;
	width: 180px;
	border-bottom: #FF8C00 1px dotted;
	font-size: 18px;
	color: #FF8C00;
	padding: 10px 0 3px 25px;
	margin: 40px 0 16px 0;
}
.ATCtitle3 {

	background-image: url(../images/header_in_secodary.jpg);
background-repeat: no-repeat;
background-position: 5px 13px;
display: block;
height: 30px;
width: 180px;
border-bottom: #FF8C00 1px dotted;
font-size: 18px;
color: #FF8C00;
padding: 0 0 8px 25px;
margin: 10px 0 16px 0;
}
.hotACT {
	height: 44px;
	width: 215px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-bottom:solid 1px #cccccc;
}
